<% title "Providers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for provider in @providers %>
    <tr>
      <td><%= provider.name %></td>
      <td><%= provider.description %></td>
      <%= raw show_or_hide_links provider %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New provider", new_user_provider_path(current_user) if can? :create, Provider %></p>
